.TreeNodeRow {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.TreeNodeName {
    text-align: left;
  margin-left: 0.5rem;
    width: 40%;
}

.TreeNodeCheckbox{
    width: 30%;
}

.TreeNodeChildren{
    margin-left: 2rem;
}